{% extends "Base/base.html.twig" %}

{% block classFondNav %}fond-peinture{% endblock classFondNav %}

{% block contentNav %}<h3 class="text-center anim">Animation texte</h3>{% endblock contentNav %}

{% block content %}

    <section>
        <h2 class="text-center mt-5">Ce que nous réalisons</h2>

        <p class="txt1-p">Nous réalisons tout types de peintures. En passant par de la peinture classique tout type de surface jusqu'à la
            <strong><em>peinture décorative</em></strong> pour vos envies et vos goûts particuliers.</p>


        <div class="d-flex icon">
            <div class="icons"><img src="img/icons/high-quality.png"/><p>Qualité garantie</p></div>

            <div class="icons"><img src="img/icons/handshake.png"/><p>Proximité</p></div>
            <div class="icons"><img src="img/icons/calendar.png"/><p>Respect des engagements</p></div>
        </div>
    </section>

{% endblock content %}
