{% extends "Base/base.html.twig" %}

{% block content %}
    <section>
        <div class="row justify-content-around blocG">
        <div class="bloc1">
            <p>- Peinture intérieur et extérieur</p>
            <p>- Ravalement de façade</p>
            <p>- Peinture mûrs et plafonds</p>
        </div>

        <div class="bloc2">
            <p>- </p>
        </div>
        </div>
    </section>

{% endblock content %}
