{% extends "Base/base.html.twig" %}

{% block classFondNav %}fond_accueil{% endblock classFondNav %}

{% block contentNav %}

  <div class="row text-center flex-column divGarcia">
    <div class="col-lg-12 d-lg-block d-md-none d-sm-none ">
    <h1>Entreprise GARCIA</h1>

    <p>Artisan peintre à VILLEMOUTIERS (45270)</p>
    <p>06.45.42.08.58</p>

    <div class="button">
      <a href="{{ path('contact') }}"><span>Mon devis gratuit</span></a>
  </div>
  </div>
{% endblock contentNav %}


    {% block content %}

      <!-- SECTION 1 -->
    <main class="container-fluid">

      <section>
        <div class="row align-items-center flex-column text1">
          <h2 class="col-lg-6 text-center">Qui sommes-nous ?</h2>

          <p class="col-lg-4 text-center">
            Entreprise GARCIA est un <strong>artisan peintre</strong> qui
            réalise tout type de peintures ainsi que des travaux. Il saura vous
            conseiller sur le choix de vos peintures en fonction du type de
            surface que vous avez, et notamment vous aidez dans vos projet de
            travaux.
          </p>
        </div>
      </section>

      <section>
        <div class="container">

            <div id=flip>
              <div><div><span>Peinture intérieur et extérieur tout type de surface</span></div></div>
              <div><div>Démoussage toiture</div></div>
              <div><div>Petits travaux</div></div>
            </div>

        </div>
      </section>

      <!-- SECTION 2 -->
      <section>
        <div class="row align-items-center flex-column text2">
          <h2 class="col-lg-6 text-center">Où nous trouver ?</h2>

          <p class="col-lg-3 text-center">
            Nous nous déplaçons dans un rayon de
            <strong class="nombre"> 400km ! </strong> Autour de VILLEMOUTIERS, pour de gros travaux.
          </p>

          <!-- CARD GOOGLE MAPS -->
          <iframe
          class="pt-3 pb-5"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d42722.240270474205!2d2.516274993588281!3d47.991681170149626!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e5775d93f2cbc5%3A0x40dc8d70537d1d0!2s45270%20Villemoutiers!5e0!3m2!1sfr!2sfr!4v1592681886277!5m2!1sfr!2sfr" 
          width="800" height="650" 
          frameborder="0" 
          style="border:0;" 
          allowfullscreen="" 
          aria-hidden="false" 
          tabindex="0">
          </iframe>
        </div>
      </section>
    </main>
    {% endblock content %}