{% extends 'Base/base.html.twig' %}

{% block content %}
<h1 class="text-center pt-5">Mes réalisations</h1>

{% for medium in media %}

<div class="image">
    <figure>
        <img src="{{ asset('img/peinture') }}/{{ medium.name }}" class="img-fluid" alt="{{ medium.title }}">
        <figcaption>{{ medium.title }}</figcaption>
    </figure>
</div>

{% endfor %}

{% endblock content %}