/* PAGE ACCUEIL */
.fond_accueil {
  background-image: url("img/peinture.jpg");
  @extend %fond;
}

.divGarcia {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5%;
  margin: 7% 20%;
  border-radius: 15px;
}

.divGarcia p {
  padding-top: 30px;
  font-size: 20px;
}

.button {
  text-align: center;
  background-color: #548687;
  padding: 15px 0;
  border-radius: 50px;
  text-transform: uppercase;
  margin: 0 30%;
  margin-top: 10%;
  transition: all 1s ease;
}

.button a {
  color: white;
}

.button a:hover {
  text-decoration: none;
}

.button:hover {
  transform: scale(1.1);
}

.text1 p {
  margin: 2% 0;
  font-size: 18px;
}

.text1 h2 {
  margin: 4% 0;
}

.text2 h2 {
  margin-top: 10%;
}

.text2 p {
  margin-top: 2%;
}

.nombre {
  font-size: 18px;
}


/*ANIMATION*/
@import url('https://fonts.googleapis.com/css?family=Roboto:700');

.container {
  color:#999;
  text-transform: uppercase;
  font-size:30px;
  font-weight:bold;
  padding-top:5%;
  display:block;
  text-align: center;
}

#flip {
  height:50px;
  overflow:hidden;
}

#flip > div > div {
  color:#fff;
  padding:1px 12px;
  height:45px;
  margin-bottom:45px;
  display:inline-block;
}

#flip div:first-child {
  animation: show 10s linear infinite;
}

#flip div div {
  background:#42c58a;
}
#flip div:first-child div {
  background:#4ec7f3;
}
#flip div:last-child div {
  background:#DC143C;
}

@keyframes show {
  0% {margin-top:-270px;}
  5% {margin-top:-180px;}
  33% {margin-top:-180px;}
  38% {margin-top:-90px;}
  66% {margin-top:-90px;}
  71% {margin-top:0px;}
  99.99% {margin-top:0px;}
  100% {margin-top:-270px;}
}

#container p {

  width:100%;
  bottom:30px;
  font-size:12px;
  color:#999;
  margin-top:200px;
}
/*ANIMATION END*/