/* PEINTURE INTERIEUR EXTERIEUR */

.bloc1{
  background-color: rgba(236, 240, 241, 0.7);
  padding: 5%;
}

.bloc2{
  background-color: rgba(236, 240, 241, 0.7);
  padding: 5%;
}

.blocG{
  padding-bottom: 5%;
}




