/* PEINTURE INTERIEUR EXTERIEUR */

.fond-peinture{
  background-image: url("img/fond-peinture.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

h3 {
  font-size: 50px;
  color: white;
  text-transform: uppercase;
}

.anim{
  margin-top: 5%;
}

span {
  border-right: .05em solid;
  animation: caret 1s steps(1) infinite;
}

.txt1-p{
  width: 30%;
  margin: 0 auto;
  text-align: center;
  margin-top: 5%;
  font-size: 18px;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}






