@import "page_accueil";
@import "peinture_int_ext";
@import "travaux";
@import "realisations";
@import "contact";
@import "login";
@import "index";
@import "_form";

* {
  margin: 0;
}

%fond {
  background-position: center;
  background-size: cover;
  height: 105vh;
  background-attachment: fixed;
}


//MENU
nav {
  &.primary-navigation {
    margin: 0 auto;
    display: block;
    padding-top: 20px;
    text-align: center;
    font-size: 16px;
  }
}

    ul li {
      list-style: none;
      margin: 0 auto;
      border-left: 2px solid #3ca0e7;
      display: inline-block;
      padding: 0 30px;
      position: relative;
      text-decoration: none;
      text-align: center;
    }

    li a {
      color: black;
    }

    li:hover {
      cursor: pointer;
    }

    ul li a {
      &:hover {
        color: #C82829;
        text-decoration: none;
      }
    }

ul li a { transition: all 0.5s ease; }


/* FOOTER */
footer {
  background-color: rgba(0, 0, 0, 0.84);
}

footer ul {
  font-size: 12px;
  list-style-type: none;
}

footer a {
  color: white;
}

footer a:hover {
  color: white;
}

.logofb {
  max-width: 60%;
}







