@import "page_accueil";
@import "peinture_int_ext";
@import "travaux";
@import "realisations";
@import "contact";
@import "login";
* {
  margin: 0;
}

%fond {
  background-position: center;
  background-size: cover;
  height: 105vh;
  background-attachment: fixed;
}

%menu {
  list-style-type: none;
  font-size: 16px;
  background-color: rgba(253, 253, 253, 0.479);
  padding-top: 2%;
  padding-bottom: 2%;
}


/* FOOTER */
footer {
  background-color: rgba(0, 0, 0, 0.84);
}

footer ul {
  font-size: 12px;
  list-style-type: none;
}

footer a {
  color: white;
}

footer a:hover {
  color: white;
}

.logofb {
  max-width: 60%;
}







