/* PAGE ACCUEIL */
.fond_accueil {
  background-image: url("img/fond_accueil.jpg");
}

.menu a {
  color: black;
}

a:hover {
  color: black;
}

.divGarcia {
  background-color: rgba(236, 240, 241, 0.7);
  padding: 5%;
  margin: 7% 20%;
}

.divGarcia p {
  padding-top: 30px;
  font-size: 20px;
}

.button {
  text-align: center;
  background-color: #548687;
  padding: 15px 0;
  border-radius: 50px;
  text-transform: uppercase;
  margin: 0 30%;
  margin-top: 10%;
  transition: all 1s ease;
}

.button a {
  color: white;
}

.button a:hover {
  text-decoration: none;
}

.button:hover {
  transform: scale(1.1);
}

.text1 p {
  margin: 2% 0;
  font-size: 18px;
}

.text1 h2 {
  margin: 4% 0;
}

.text2 h2 {
  margin-top: 10%;
}

.text2 p {
  margin-top: 2%;
}

.nombre {
  font-size: 18px;
}

/* PEINTURE INTERIEUR EXTERIEUR */
.fond1 {
  background-image: url("img/fond1.jpg");
}

/* DEMOUSSAGE TOITURE */
.fond_toiture {
  background-image: url("img/fond_toiture.jpg");
}

/* TRAVAUX */
.travaux {
  background-image: url("img/travaux.jpg");
}

/*REALISATIONS*/
/*SLIDER*/
#slider-wrapper {
  width: 940px;
  height: 470px;
  margin: 50px auto;
  position: relative;
  margin-bottom: 0px;
  background: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  margin-bottom: 5%;
}

#s1 {
  padding: 6px;
  background: #000000;
  position: absolute;
  left: 50%;
  bottom: 25px;
  margin-left: -36px;
  border-radius: 20px;
  opacity: 0.3;
  cursor: pointer;
  z-index: 999;
}

#s2 {
  padding: 6px;
  background: #000000;
  position: absolute;
  left: 50%;
  bottom: 25px;
  margin-left: -12px;
  border-radius: 20px;
  opacity: 0.3;
  cursor: pointer;
  z-index: 999;
}

#s3 {
  padding: 6px;
  background: #000000;
  position: absolute;
  left: 50%;
  bottom: 25px;
  margin-left: 12px;
  border-radius: 20px;
  opacity: 0.3;
  cursor: pointer;
  z-index: 999;
}

#s4 {
  padding: 6px;
  background: #000000;
  position: absolute;
  left: 50%;
  bottom: 25px;
  margin-left: 36px;
  border-radius: 20px;
  opacity: 0.3;
  cursor: pointer;
  z-index: 999;
}

#s1:hover,
#s2:hover,
#s3:hover,
#s4:hover {
  opacity: 0.5;
}

.inner-wrapper {
  width: 940px;
  height: 470px;
  position: absolute;
  top: 0;
  left: 0;
  margin-bottom: 0px;
  overflow: hidden;
}

.control {
  display: none;
}

#Slide1:checked ~ .overflow-wrapper {
  margin-left: 0%;
}

#Slide2:checked ~ .overflow-wrapper {
  margin-left: -100%;
}

#Slide3:checked ~ .overflow-wrapper {
  margin-left: -200%;
}

#Slide4:checked ~ .overflow-wrapper {
  margin-left: -300%;
}

#Slide1:checked + #s1 {
  opacity: 1;
}

#Slide2:checked + #s2 {
  opacity: 1;
}

#Slide3:checked + #s3 {
  opacity: 1;
}

#Slide4:checked + #s4 {
  opacity: 1;
}

.overflow-wrapper {
  width: 400%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow-y: hidden;
  z-index: 1;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.slide img {
  width: 25%;
  float: left;
}

/*CONTACT*/
* {
  margin: 0;
}

.fond_accueil, .fond1, .fond_toiture, .travaux {
  background-position: center;
  background-size: cover;
  height: 105vh;
  background-attachment: fixed;
}

.menu {
  list-style-type: none;
  font-size: 16px;
  background-color: rgba(253, 253, 253, 0.479);
  padding-top: 2%;
  padding-bottom: 2%;
}

/* FOOTER */
footer {
  background-color: rgba(92, 69, 69, 0.7);
}

footer ul {
  font-size: 12px;
  list-style-type: none;
}

footer a {
  color: white;
}

footer a:hover {
  color: white;
}

.logofb {
  max-width: 60%;
}

/*# sourceMappingURL=style.css.map */
