{% extends 'Base/base.html.twig' %}

{% block content %}
    <h1 class="text-center pt-5">Importer une photo</h1>

        <div>
            {{ include('admin/_form.html.twig') }}
        </div>
        <button class="btn btn-dark button-new1"><a href="{{ path('media_index') }}">Retour vers les photos</a></button>
{% endblock content %}
