<!DOCTYPE html>

<title>New Media</title>

{% block content %}
    <h1>Importer une photo</h1>

    {{ include('admin/_form.html.twig') }}

    <a href="{{ path('media_index') }}">Retour vers les photos</a>

{% endblock content %}
